<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guhungry.utilities">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.listexample.ExamplesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.imageutils.ImageUtilsActivity"
            android:label="@string/image_utils"
            android:parentActivityName=".app.listexample.ExamplesActivity" />
        <activity
            android:name=".app.rxjava.RxJavaActivity"
            android:label="@string/rxjava"
            android:parentActivityName=".app.listexample.ExamplesActivity" />
        <activity
            android:name=".app.rxjava.RxJavaBlankActivity"
            android:label="@string/rxjava"
            android:parentActivityName=".app.rxjava.RxJavaBlankActivity" />
        <activity
            android:name=".app.retrofit.RetrofitActivity"
            android:label="@string/retrofit"
            android:parentActivityName=".app.listexample.ExamplesActivity" />
        <activity
            android:name=".app.viewmodel.ViewModelActivity"
            android:label="@string/viewmodels"
            android:parentActivityName=".app.listexample.ExamplesActivity" />
    </application>

</manifest>